/* LES REGLAGES GENERALES*/
*{
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
}

body{
    color: rgb(8, 8, 8);
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
}
li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.align-center{
    display: flex;
    justify-content: center;
    width: 100%;
}
/*FIN DES REGLAGES GENERALES*/

/* LE LOGO */
#logo{
    color: white;
    font-size: x-large;
    /* margin-top: 10px; */
    padding: 1%;
    text-align: center;

    position: sticky;
    top: 0;
    z-index: 1;
}
/* FIN LOGO */

/* LA NAVIGATION */
nav{
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1;
    right: 0;
    left: 0;
    /* background: rgba(255, 255, 255, 0.05); */
}

@media all and (max-width:768px){
    nav{
        visibility: hidden;
    }
}
    .menu-label,.menu-cb{/* LE LABEL QUI CONTIENT LE BOUTON DE MENU ET QUI EST LIE AU CHECKBOX*/
        appearance: none;
        }

    .menu-cb:checked ~ .container-menu #menu {/* ON AFFICHE LE MENU QUAND ON APPUIE SUR BOUTON EMBOURGUER*/
        visibility: visible;
        position: fixed;
        top: 0;
        }


    @media all and (max-width:768px){
        .icon-menu{
            visibility: visible;
        }
    }

    .icone-menu{
        color: white;
        position: fixed;
        visibility: hidden;
        right: 5%;
        top: 2%;
    }

    .icon-menu{
        font-size: xxx-large;
        cursor: pointer;

        background-clip: text;
        color: transparent;
        background-image: linear-gradient(to right, #0FC2C0, #0CABA8,#008F8C, #015958, #023535);
        
        /* Préfixes pour les navigateurs basés sur WebKit */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right, #0FC2C0, #0CABA8,#008F8C, #015958, #023535);
    }

    .container-menu{
    position: relative;
    border: 2px solid transparent;
    border-radius: 45px;
    margin-inline: auto;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
    }

    #menu{
        box-sizing: border-box;
        display: flex;
        margin-right: 1.5%;
        margin-left: 1.5%;
        border-radius: 30px;
        justify-content: space-around;
        flex-direction: row;
        position: sticky;
        top: 0px;
        z-index: 2;
    }

    @media all and (max-width:768px){/* LE MENU DANS LES PETITS ECRANS*/
        #menu{
            flex-direction: column;
            width: 40%;
            position: absolute;
            z-index: 0;
            left: 0%;
            visibility: hidden;
            background: linear-gradient(71deg, #080509, #1a171c, #080509);
            }
        }
        #menu>li{
            padding: 10px;
        }
        #menu a{
        /* color: black; */
        color: rgba(12, 171, 168, 1); 
        font-weight: 610;
        cursor: pointer;
        padding: 3px;
        border-bottom:0px solid black;
        -webkit-transition: border 1s ease-out ;
        -moz-transition: border 1s ease-out;
        -o-transition: all 1s ease-out;
        transition: border 1s ease-out;
            }
                
        #menu>li>a{
            position: relative;
        }

        #menu>li>a::before{
            content:"";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            transition: width 0.3s ease-in-out;
            background: linear-gradient(71deg, #fb7777, #afa220, #1ff7c8);
        }

        #menu>li>a:hover::before{
            width: 100%;
        }
/* --------------------FIN DU MENU-------------------- */
/* --------------------FIN DE LA NAVIGATION-------------------- */

/* --------------------HERO-------------------- */

.hero{
    padding: 2%;
    text-align: center;
    z-index: 3;
    }

    .hero-part-1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 2%;
    }
.img-hero  {
    width: 150px;
    height: 150px;
    text-align: center;
    shape-outside: polygon();
    border-radius: 100%;
    overflow: hidden;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    border: .36rem solid rgba(12, 171, 168, 1);;
}
.img-hero > img{
    width: auto;
    /* height: 100%; */
    filter: grayscale(50);
}

.hero-part-2{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
    overflow: hidden;
    display: inline-block;
}

.slider-hero p{
    font-size: x-large;
}

.slider-hero span{
    font-size: 3.5rem;
}

@media screen and (max-width:768px) {
    .slider-hero span{
        font-size: 2.8rem;
    }
}
.color-green{
    color: rgba(12, 171, 168, 1);;
    font-weight: 600;
}

.text-slide{
    margin-top: 3%;
}

#cta{
    display: block;
    padding: .9em;
    margin: 3%;
    width: max-content;
    text-align: center;
    font-weight: 550;
    color: white;
    font-size: large;
    position: relative;
    border: 2px solid transparent;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    background-clip: padding-box;
    border-radius: 45px;
}

#cta::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
    background: linear-gradient(71deg, #00e5ff, #1200ff, #00ff5b);
    }
/* --------------------FIN HERO-------------------- */

/* --------------------ABOUT-------------------- */
.about{
    /* background: radial-gradient( #282c34 0%, rgba(17, 0, 32, 0.5) 100%); */
    padding: 5%;
    margin: 10%;
    display: flex;
    justify-content: space-around;
    /* box-shadow: 0 7px 20px 5px #00000088; */
    align-items: center;
    position: relative;
    /* border: 2px solid transparent; */
    /* background-clip: padding-box; */
    /* background: rgb(75,73,74); */
    /* background: radial-gradient(circle, rgba(75,73,74,1) 0%, rgba(3,6,9,1) 100%); */

    position: relative;
	/* width: 300px; */
	/* height: 400px; */
	background: rgba(255, 255, 255, 0.05);
	/* margin: 20px; */
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	backdrop-filter: blur(10px);
}

@media screen and (max-width:768px){
    .about{
        padding: 2%;
        margin: 2%;
        flex-direction: column;
    }
}

.about  h1{
    text-align: left;
    color: #0e0f0e;
    font-size: xxx-large;
    margin-bottom: 4%;
    margin-right: 0;
    text-shadow: 0 2px 4px #015958;
}
.img-gray{
    filter: grayscale(5);
    width: auto;
    height: 250px;
    border-radius: 100%;
    shape-outside: circle();
}

.container-text-about{
    width: 50%;
    color: #636262;
}

@media screen and (max-width:768px){
    .container-text-about{
        width: 100%;
    }
}

#button-about a{
    display: inline-block;
}
/* --------------------FIN ABOUT-------------------- */

/* --------------------SERVICE-------------------- */
#services  h1{
    text-align: center;
    color: #0e0f0e;
    font-size: xxx-large;
    /* margin-bottom: 4%; */
    /* margin-right: 0; */
    text-shadow: 0 2px 4px #015958;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
    padding-bottom: 3%;
}

.container .card {
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
}

.container .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.container .card .sci li a {
	color: #fff;
	font-size: 20px;
}
/* --------------------FIN SERVICE-------------------- */

/* --------------------REALISATION-------------------- */
#realisation h1{
    text-align: center;
    color: #0e0f0e;
    font-size: xxx-large;
    /* margin-bottom: 4%; */
    /* margin-right: 0; */
    text-shadow: 0 2px 4px #015958;
}

.container-realisation{
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
}

.item-realisation{
    width: 290px;
    margin: 3%;
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    background-clip: padding-box;
    border-radius: 25px;
    text-align: center;
  }

  .item-realisation::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 25px;
    padding: 20%;
  
    /* background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e); */
    background: linear-gradient(#0FC2C0, #0CABA8, #008F8C, #015958, #023535);
  }

.container-description-realisation{
    width: 290px;
    height: 80px;
    position: relative;
    bottom: -5%;
    text-align: center;
    padding: 5%;
    border-top: #015958 solid 2px;
    box-sizing: border-box;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: inline-block;
    overflow: hidden;
}

.img-realisation{
    max-width: 290px;
}

.img-realisation img{
    width: 100%;
    height: 100%;
}

.item-realisation a{
    /* background: radial-gradient(#0FC2C0, #0CABA8, #008F8C, #015958, #023535); */
    /* padding: 2%; */
    margin: 2%;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border: #0d1212 2px solid;
    text-shadow: 0 2px 4px #015958;
    box-sizing: border-box;

    /* display: block; */
    padding: .5em;
    /* margin: 3%; */
    width: max-content;
    text-align: center;
    font-weight: 550;
    
    font-size: large;
    position: relative;
    border: 2px solid transparent;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    background-clip: padding-box;
    /* border-radius: 45px;   */
}

.item-realisation a i{
    /* color: #023535; */
    color:rgb(212, 255, 255);
    padding: 1%;
    font-size: x-large;
}
/* --------------------FIN REALISATION-------------------- */

/* --------------------CONTACT-------------------- */
#contact{
        padding: 5%;
        margin: 10%;
        position: relative;
        
        position: relative;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        backdrop-filter: blur(10px);
    }

#contact p, #contact ul>li,a{
    color: white;
    font-size: 1.1rem;
}

#contact  h1{
    text-align: center;
    color: #0e0f0e;
    font-size: xxx-large;
    margin-bottom: 1%;
    margin-right: 0;
    text-shadow: 0 2px 4px #015958;
}

    @media screen and (max-width:768px){
        #contact{
            padding: 2%;
            margin: 2%;
            flex-direction: column;
        }
    }
      #contact::after {
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        content: "";
        z-index: -1; 
        /* background: linear-gradient(71deg, #0d1212, #3da077, #0d1212); */
      }

    .container-coordonne{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    padding: 2%;
}

.coordonne{
    /* box-shadow: 0 2px 4px #015958; */
    padding: 1%;
}

.container-coordonne p{
    max-width: 300px;
    margin: 5%;
}

#contact ul>li {
    /* border: #00ff5b 2px solid; */
    display: flex;
    align-items: center;
}

@media screen and (max-width:768px){
    #contact p, #contact ul>li,a{
        /* color: #080509; */
        font-size: 0.8rem;
    }

    /* #contact ul>li {
        /* border: #00ff5b 2px solid; *
        display: flex;
        align-items: center;
    } */

    .coordonne{
        /* box-shadow: 0 2px 4px #0159; */
        padding: .5%;
    }
}

.container-contact h4{
    text-align: center;
    font-size: 25px;

    color: #0e0f0e;
    margin-bottom: 4%;
    margin-right: 0;
    text-shadow: 0 2px 4px #015958;
}

.social{
    display: flex;
    margin: 3%;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
    /* box-shadow: 0 2px 4px #015958; */
}

#contact ul li i{
    font-size: 48px;
    cursor: pointer;
    margin: .5;

    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #0FC2C0, #0CABA8,#008F8C, #015958, #023535);
        
    /* Préfixes pour les navigateurs basés sur WebKit */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #0FC2C0, #0CABA8,#008F8C, #015958, #023535);
}
/* --------------------FIN CONTACT-------------------- */

/* --------------------FOOTER-------------------- */
.footer{
    width: 100%;
    display: flex;
    background: #080509;
    padding: 5%;
    justify-content: space-around;
    margin-top: 3%;
}

.footer>ul li:first-child{
    text-align: center;
    font-size: 25px;

    color: #0e0f0e;
    margin-bottom: 4%;
    margin-right: 0;
    text-shadow: 0 2px 1px #015958;
}

.footer li{
    margin: 3%;
}

.foot-social i{
    text-shadow: 0 2px 1px #015958;
}
/* --------------------copyrigth */
#copyrigth{
    text-align: center;
    padding: 1%;
    color: #023535;
}

#copyrigth span{
    color: #017f88;
}