@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');*{padding: 0px;margin: 0px;font-size: 16px;color: #fff;box-sizing: border-box;font-family: 'Sora', sans-serif;}body{background-image: radial-gradient(circle at top right, #000000, #333333, #666666);background-size: auto;background-attachment: fixed;background-position: center;}li{list-style-type: none;}a{text-decoration: none;}.container-align-center{display: flex;justify-content: center;width: 100%;}.title{font-size: xxx-large;margin-bottom: 17px;margin-right: 0;width: max-content;font-family: 'Archivo', sans-serif;background-clip: text;color: transparent;background-image: linear-gradient(45deg, #021444,#050f1d,#021444);z-index: 1;}.align-center{text-align: center;}.icon{padding: 7px;color: #090d1f;backdrop-filter: blur(20px);border-radius: 5px;background: rgba(169, 167, 167, 0.5);display: inline-block;}#logo{text-align: center;position: sticky;top: 0;z-index: 1;}#logo > img{height: 59px;width: auto;}

nav{
	position: fixed;
  width: 100%;
  z-index: 999;
  right: 0;
  left: 0;
  top: 49px;
}

@media screen and(max-width:768px){
  nav{
    top: 0;
  }
}

input{
  appearance: none;
}

#cb:checked ~ #menu{
	visibility: visible;
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 150px;
}

.icon-bars{
	right: 12px;
	position: fixed;
	top: 12px;
	font-weight: 700;
	font-size: 24px;
	color: white;
	padding: 10px;
	border-radius: 8px;
	backdrop-filter: blur(10px);
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.1);
	display: inline-block;
	visibility: hidden;
}

@media all and (max-width:768px){
    .icon-bars{
        visibility: visible;
    }
}

#menu{
	display: flex;
	list-style: none;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

  background-color: #fbfdfd;
  z-index: 9999;
  padding: 8px;
  border-radius: 35px;
  margin: 8px;

  height: max-content;
}

@media all and (max-width:768px){
  #menu{
  visibility: hidden;
  flex-direction: column;
  border-radius: 15px;
  }
}

#menu li{
  margin: 5px;
  display: inline-block;
}

#menu a{ 
  font-weight: 650;
  cursor: pointer;
  padding: 3px;
  -webkit-transition: border 1s ease-out ;
  -moz-transition: border 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: border 1s ease-out;
  background-clip: text;
  color: transparent;background-image: linear-gradient(45deg, #021444,#050f1d,#021444);
  font-family: 'Archivo', sans-serif;
}

/* --------------------FIN DE LA NAVIGATION-------------------- */

/* --------------------HERO-------------------- */

.hero{
  padding: 2%;
  text-align: center;
  z-index: 3;
  margin-top: 22px;
}
.hero-part-1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2%;
}
.img-hero {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Transforme le rectangle en cercle */
  background-image: radial-gradient(circle at top right, #000000, #333333, #666666);
}
.img-hero::before,.img-hero::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  border-radius: 50%; /* Forme circulaire */
}
.img-hero::before {
  border: 5px solid transparent; /* Bordure transparente */
  background: linear-gradient(45deg, #00ffe9,#2e3192, #00ffe9,#2e3192, #00ffe9); /* Dégradé pour la bordure */
}
.img-hernmo::after {
  border: 5px solid black; /* Bordure noire */
}
.img-hero > .img-subcontainer{
  width: auto;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.hero-text-item{
  margin-top: 1.2%;
}
.hero-part-2{
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 0.8%;
  overflow: hidden;
  display: inline-block;
}
.slider-hero{
  background: radial-gradient( #7799ab,#617a8b,0.9);
  backdrop-filter: blur(17px);
  padding: 16px;
  border-radius: 25px;
}
.slider-hero h1{
  font-size: 28px;
}
.slider-hero h2{
  font-size: 23px;
}
.slider-hero span{
  font-size: 28px;
}
.colored{
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, #00ffe9,#2e3192);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.slider-hero .text-slide{
  margin-top: 3%;font-size: 1.1rem;
}
.cta-button{
  display: inline-block;
  padding: .9em;
  margin: 3%;
  width: max-content;
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 20px;
  background: linear-gradient(45deg,#2e3192, #00ffe9,#2e3192);
  border-radius: 45px;
}
/* --------------------FIN HERO-------------------- */

/* --------------------ABOUT-------------------- */
.about{
  padding: 5%;
  margin: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  position: relative;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: radial-gradient( #7799ab,#617a8b,0.9);
  backdrop-filter: blur(17px);
}
@media screen and (max-width:768px){
  .about{
  padding: 2%;
  margin: 2%;
  flex-direction: column;
}
}
.img-gray{
  filter: grayscale(1);
  width: auto;
  height: 250px;
  border-radius: 100%;
  shape-outside: circle();
}
.container-text-about{
  width: 50%;
  color: #636262;
}
@media screen and (max-width:768px){
  .container-text-about{
  width: 100%;
}
}
#button-about a{
  display: inline-block;
}
/* --------------------FIN ABOUT-------------------- */

/* --------------------COMPETENCES-------------------- */
.container-competance{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5%;
}
.item-competence{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 10px; /* Transforme le rectangle en cercle */
  margin: 1%;
  padding: 1%;
  display: inline-block;
  text-align: center;
  backdrop-filter: blur(10px);
  border: 2px solid #071337;
}
.item-competence i{
  font-size: 29px;
  margin: 3px;
}

#other i{
  font-size: 18px;
}
.icon-tailwind{
  background-image: url(../../assets/img/tailwind.svg);
  padding: 15px;
  background-repeat: no-repeat;
  color:#090d1f;
  background-color: #090d1f;
  background-position: center;
  background-size: contain;
}
.progress{
  width: 100%;
  height: 5px;
  margin: 2%;
  border-radius: 30px;
  padding: 7px;
  backdrop-filter: blur(20px);
  background: rgba(169, 167, 167, 0.5);
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.progress::before{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #0b0e13;
  content: "";
}

.p75::before{
 width: 75%;
}

.p80::before{
width: 80%;
}
/* --------------------FIN COMPETENCES-------------------- */

/* --------------------SERVICE-------------------- */
.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
  padding-bottom: 3%;
}
.container .card {
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}
.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}
.container .card:hover .content {
	transform: translateY(-20px);
}
.container .card .content .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}
.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container .card .content .contentBx h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}
.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}
.container .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
}
.container .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}
.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}
.container .card .sci li a {
	font-size: 20px;
}
/* --------------------FIN SERVICE-------------------- */

/* --------------------REALISATION-------------------- */
.container-realisation{
  text-align: center;
}
.item-realisation{
  width: 290px;
  padding: 7px;
  color: #5aa0f5;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  display: inline-block;
  margin: 2%;
}
.img-realisation{
  max-width: 290px;
}
.img-realisation img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
}
.item-realisation h4{
  font-family: 'Archivo', sans-serif;
  font-size: 21px;
}
.description-realisation{
  width: 290px;
  height: 80px;
  padding: 2%;
  box-sizing: border-box;
}
.item-realisation i{
  font-size: 24px;
}
/* --------------------FIN REALISATION-------------------- */

/* --------------------CONTACT-------------------- */
#contact{
  padding: 3%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: radial-gradient( #7799ab,#617a8b,0.9);
  backdrop-filter: blur(17px);
}
@media screen and (max-width:768px){
  #contact{
  padding: 1%;
  margin: 2%;
  flex-direction: column;
}
}
.container-coordonne{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2%;
}
.coordonne{
  padding: 1%;
}
#contact .icon-markunread,#contact .icon-phone-square,#contact .icon-whatsapp,#contact .icon-telegram{
  font-size: 30px;
  margin: 1%;
}
.container-coordonne p{
  max-width: 300px;
  margin: 5%;
}
#contact ul>li a {   
  display: flex;
  align-items: center;
}
@media screen and (max-width:768px){
  #contact p, #contact ul>li,a{
  font-size: 0.8rem;
}
.coordonne{
  padding: .5%;
}
}
.container-contact h4{
  text-align: center;
  font-size: 25px;
  margin-bottom: 4%;
  margin-right: 0;
  background-clip: text;
  color: #11123d;
}
.social{
  display: flex;
  margin: 3%;
  padding: 1%;
  align-items: center;
  justify-content: space-around;
}
#contact ul li i{
  font-size: 32px;
  cursor: pointer;
  margin: .9%;
}
/* --------------------FIN CONTACT-------------------- */

/* --------------------FOOTER-------------------- */
.footer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #090d1f;
  padding-top: 5%;
  padding-bottom: 2%;
  justify-content: space-around;
  margin-top: 3%;
  z-index: 1;
}
.foot-social{
 display: flex;
}
.footer h4{
  border-bottom: #2e3192 2px solid;
  width: max-content;
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  color: #ffff;
}
.footer ul{
  width: 290px;
}
.footer li{
  margin: 3%;
}
.foot-social i{
  font-size: 24px;
  margin-top: 5%;
}
/* --------------------copyrigth */
#copyrigth{
  border-top: 2px solid #424243;
  text-align: center;
  padding: 1%;
}
.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg h1 {
  font-size: 20rem;
  filter: opacity(0.5);
  color: #999a9a;
  z-index: -1;
}
@media all and (max-width:768px){
  .bg {
    position: fixed;
    top: 50%;
    left: 0px;
    transform: rotate(90deg);
  }
  .bg h1 {
    font-size: 5rem;
    filter: opacity(0.5);
    padding: 5%;
  }
}